{{ define "main" }}
<!-- 主体部分 -->
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body">
                    <h3>研究简介</h3>
                    <p>在这篇论文中，我们提出了一种新的计算机视觉算法，旨在解决深度学习在图像识别中的一些挑战，并在多个基准数据集上取得了优异的性能。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row justify-content-center">
        <!-- 使用 col-md-12 来让卡片在中等及更大的屏幕上占满宽度 -->
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body">
                    <h3>研究简介</h3>
                    <p>在这篇论文中，我们提出了一种新的计算机视觉算法，旨在解决深度学习在图像识别中的一些挑战，并在多个基准数据集上取得了优异的性能。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 实验结果部分 -->
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body">
                    <h3>实验结果</h3>
                    <p>我们的实验结果表明，我们的方法在多个基准数据集上取得了显著的性能提升。</p>
                    <img src="assets/results.jpg" alt="实验结果" class="img-fluid img-fluid-custom">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 视频演示部分 -->
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body">
                    <h3>方法演示</h3>
                    <p>以下是我们方法的演示视频，展示了算法如何在实时场景中进行应用。</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xyz1234567" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 下载论文部分 -->
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h3>下载论文</h3>
                    <p>点击以下按钮下载论文的 PDF 版本：</p>
                    <a href="papers/paper.pdf" class="btn btn-custom">下载 PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 代码链接部分 -->
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h3>代码与实现</h3>
                    <p>我们的代码和实验数据已经开源，您可以在 GitHub 上访问：</p>
                    <a href="https://github.com/xyz/paper-code" class="btn btn-custom" target="_blank">访问 GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
